services:
    postgres:
        image: postgres:17
        env_file:
            - .env.postgres
        ports:
            - "5432:5432"
        volumes:
            - ./docker-volumes/postgres:/var/lib/postgresql/data
    rabbitmq:
        image: rabbitmq:4.2.1-management
        env_file:
            - .env.rabbitmq
        ports:
            - "5672:5672"
            - "15672:15672"
        volumes:
            - ./docker-volumes/rabbitmq:/var/lib/rabbitmq
        healthcheck:
            test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
            interval: 10s
            timeout: 5s
            retries: 5
    finance:
        image: luanvn4/integracao-finance:5.0.0
        env_file:
            - .env.finance
        ports:
            - "8080:8080"
        depends_on:
            - postgres
            - rabbitmq
    appointments:
        image: holyvieri/consultas:44b0f0e-dev
        env_file:
            - .env.appointments
        ports:
            - "8081:8080"
        depends_on:
            - postgres
            - rabbitmq
